<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/my-handling-form-page" method="post">
    <div>
        <label for="name">Nombre:</label>
        <input type="text" id="name" />
    </div>
    <div>
        <label for="tipo">tipo</label>

    </div>
    <div>
        <label for="marca">Marca</label>

    </div>
        <div>
            <label for="precio">Precio:</label>
            <textarea type="float" id="precio"></textarea>
        </div>
</form>
</body>
</html>