<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>{{ texto }}</h2>

<table class="egt">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Tipo</th>
        <th>Precio</th>

    </tr>
        {% for foo in lista %}
            <tr>
            <td>{{ foo.id }}</td>
            <td>{{ foo.nombre }}</td>
            <td>{{ foo.tipo }}</td>
            <td>{{ foo.marca }}</td>
            <td>{{ foo.precio }}</td>
                <td><a href="">Editar</a></td>
                <td><a href="/producto/borrar/{{ foo.id }}">Borrar</a></td>
                        </tr>

        {% endfor %}


</table>
<h5><a href="#">Nuevo</a> </h5>
</body>
</html>