{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'producto/css/estilo.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">

</head>
<body>
<h2>Producto</h2>

<table class="table table-hover table-dark">
    <tr class="bg-info">
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Marca</th>
        <th scope="col">Tipo</th>
        <th scope="col">Precio</th>
        <th></th>
        <th></th>

    </tr>
    {% for foo in object_list %}
        <tr>
            <th scope="row">{{ foo.id }}</th>
            <td>{{ foo.nombre }}</td>
            <td>{{ foo.tipo }}</td>
            <td>{{ foo.marca }}</td>
            <td>{{ foo.precio }}</td>
            <td><a href="/producto/editar/{{ foo.id }}">Editar</a></td>
            <td><a href="/producto/borrar/{{ foo.id }}">Borrar</a></td>
        </tr>
    {% empty %}
        <h5>sin datos</h5>
    {% endfor %}

</table>

<a class="btn btn-outline-success" href="/producto/formulario" role="button">Nuevo</a>

<script src="{% static 'producto/js/holamundo.js' %}"> </script>
</body>
</html>